Repository aristanetworks/vane, pull requests merged in 2023-09, with the labels that each got.

#488 Updated minor phrasing in README
  README.md
Labels: documentation, Sprint 2.8

#461 Refactored conftest.py in sample_network_tests
  sample_network_tests/conftest.py
Labels: refactor, Sprint 2.8

#457 Moved now() to utils.py and changed the test function & test_step_client accordingly
  tests/unittests/test_tests_step_client.py
  vane/test_step_client.py
  vane/utils.py
Labels: refactor, Sprint 2.8

#407 PS NRFU nrfu_client.py
  pyproject.toml
  tests/unittests/test_vane_cli.py
  vane/nrfu_client.py
  vane/vane_cli.py
Labels: PS NRFU, Sprint 2.8

#368 Logging in Vane test cases to go to separate log files
  sample_network_tests/memory/test_memory.py
  tests/unittests/test_tests_client.py
  vane/test_case_logger.py
  vane/tests_client.py
  vane/vane_logging.py
Labels: enhancement, Sprint 2.8

#511 Unit testing for nrfu_client
  tests/unittests/fixtures/definitions_nrfu_custom_expected.yaml
  tests/unittests/fixtures/definitions_nrfu_default_expected.yaml
  tests/unittests/fixtures/device_ip_file
  tests/unittests/fixtures/duts_nrfu_cvp_expected.yaml
  tests/unittests/fixtures/duts_nrfu_non_cvp_expected.yaml
  tests/unittests/fixtures/valid_text_file
  tests/unittests/test_nrfu_client.py
Labels: infrastructure, PS NRFU, Sprint 2.8

#498 Added TC for NRFU5.3 LLDP neighbor functionality testcase
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_security_rp_eos_no_config_test.py
Labels: PS NRFU, test case development

#485 Issue-426:Convert Pytest-CVP MLAG status check test case to Vane #426
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_interfaces_mlag_status_check.py
Labels: PS NRFU, test case development

#484 Issue_428: Convert Pytest-CVP Port-Channel test case to Vane #428
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_interfaces_port_channels.py
Labels: PS NRFU, test case development

#479 Issue-421: Convert Pytest-CVP SSO test case to Vane
  nrfu_tests/test_base_services_redundancy_sso_test.py
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
Labels: PS NRFU, test case development

#481 issue-442: Convert Pytest-CVP Core Dump test case to Vane
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_system_hardware_coredump.py
Labels: PS NRFU, test case development

#512 issue-434:Convert Pytest-CVP API access test case to Vane
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_security_rp_api_access_list.py
Labels: enhancement, PS NRFU, test case development

#491 Issue_424 Added TC for NRFU2.2 interface status error disabled status
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_interfaces_errdisabled.py
Labels: PS NRFU, test case development

#520 Refactored logging import in Sample Network Tests
  sample_network_tests/aaa/test_aaa.py
  sample_network_tests/api/test_api.py
  sample_network_tests/cpu/test_cpu.py
  sample_network_tests/daemon/test_daemon.py
  sample_network_tests/dns/test_dns.py
  sample_network_tests/environment/test_environment.py
  sample_network_tests/extension/test_extension.py
  sample_network_tests/filesystem/test_filesystem.py
  sample_network_tests/host/test_host.py
  sample_network_tests/interface/test_interface.py
  sample_network_tests/lldp/test_lldp.py
  sample_network_tests/log/test_logging.py
  sample_network_tests/memory/test_memory.py
  sample_network_tests/ntp/test_ntp.py
  sample_network_tests/system/test_system.py
  sample_network_tests/tacacs/test_tacacs.py
  sample_network_tests/users/test_users.py
  sample_network_tests/vane_system_tests/test_vane.py
  sample_network_tests/ztp/test_ztp.py
Labels: enhancement, refactor, Sprint 2.8

#506 Issue-447: Testcase for Convert Pytest-CVP Inventory test case to Vane
  nrfu_tests/master_def.yaml
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_system_hardware_inventory.py
Labels: PS NRFU, test case development

#499 Issue_423: Convert Pytest-CVP Interface Description test case to Vane #423
  nrfu_tests/master_def.yaml
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_interfaces_description_status.py
Labels: PS NRFU, test case development

#477 issue_420: Converted Pytest-CVP NTP test case to Vane #420
  nrfu_tests/test_base_services_ntp_association.py
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
Labels: PS NRFU, test case development

#478 Issue-446:Convert Pytest-CVP Free Memory test case to Vane
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_system_hardware_free_memory.py
Labels: PS NRFU, test case development

#490 issue-431:Convert Pytest-CVP IP Peers Established test case to Vane
  nrfu_tests/test_bgp_peers_state.py
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
Labels: PS NRFU, test case development

#480 issue_422: Converted Pytest-CVP TACACS test case to Vane #422
  nrfu_tests/test_base_services_tacacs.py
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
Labels: PS NRFU, test case development

#475 Issue-453 Convert Pytest-CVP Enable Password test case to Vane
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_security_rp_enable_pw.py
Labels: enhancement, PS NRFU, test case development

#483 Issue-450: Convert Pytest-CVP Hardware Temperature test case to Vane
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_system_hardware_temperature.py
Labels: PS NRFU, test case development

#482 issue-444:Convert Pytest-CVP Fan Status test case to Vane
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_system_hardware_fan_status.py
Labels: enhancement, PS NRFU, test case development

#493 Issue_435:Convert Pytest-CVP L2 VLAN Name test case to Vane #435
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_security_rp_l2_vlan_name.py
Labels: PS NRFU, test case development

#500 Issue-436:Convert Pytest-CVP Login Banner test case to Vane #436
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_security_rp_login_banner.py
Labels: PS NRFU, test case development

#505 issue_429: Converted Pytest-CVP misc show test case to Vane #429
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_misc_show_commands.py
Labels: PS NRFU, test case development

#543 Commenting out dut filter for example usage
  nrfu_tests/master_def.yaml
Labels: bug, PS NRFU

#494 issue_425:Convert Pytest-CVP interface errors and discards test case …
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_interface_errors_and_discards.py
Labels: PS NRFU, test case development

#507 issue_440: Convert Pytest-CVP Bad SysLog test case to Vane
  nrfu_tests/master_def.yaml
  nrfu_tests/test_bad_syslog_events.py
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
Labels: PS NRFU, test case development

#492 Issue_438: Convert Pytest-CVP Telnet Disabled test case to Vane
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_security_rp_telnet_disabled.py
Labels: PS NRFU, test case development

#495 Added TC for NRFU4.4 Multi agent routing protocol functionality
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_routing_multi_agent.py
Labels: PS NRFU, test case development

#508 Issue-441:Convert Pytest-CVP Cooling Status test case to Vane #441
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_system_hardware_cooling_status.py
Labels: PS NRFU, test case development

#476 issue-449: Automated test case for Convert Pytest-CVP Power Supply Voltage test case to Vane
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_hardware_power_supply_voltage_status.py
Labels: PS NRFU, test case development

#503 issue-448 :Convert Pytest-CVP Power Supply Status case to Vane
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_system_hardware_power_supply_status.py
Labels: PS NRFU, test case development

#504 Added TC for NRFU4.3 EVPN L2 VNI routes details verification
  nrfu_tests/master_def.yaml
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_routing_evpn_l2vni_imet.py
Labels: PS NRFU, test case development

#502 Issue_439: Convert Pytest-CVP Username No Password test case to Vane #439
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_security_rp_username_password.py
Labels: PS NRFU, test case development

#548 Added container check to filter out undefined containers
  tests/unittests/test_nrfu_client.py
  vane/nrfu_client.py
Labels: enhancement, PS NRFU, Sprint 2.9
