Repository aristanetworks/vane, pull requests merged in 2023-10, with the labels that each got.

#562 Bug fix: allow empty lines in device ip file for nrfu
  tests/unittests/fixtures/device_ip_file_empty_lines
  tests/unittests/test_nrfu_client.py
  vane/nrfu_client.py
Labels: bug, enhancement, PS NRFU

#549 issue_545: Removed the additional lines added in test def of NRFU tes…
  nrfu_tests/test_definition.yaml
Labels: enhancement, PS NRFU, test case development

#513 Issue-419: Convert Pytest-CVP DNS test case to Vane
  nrfu_tests/master_def.yaml
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_definition.yaml.j2
  nrfu_tests/test_dns_base_services.py
Labels: PS NRFU, test case development

#574 Added message formatting, error handling and changed installation of poetry in script
  install_vane.sh
Labels: bug, enhancement, PS NRFU, Sprint 2.9

#590 Ixia API
  pyproject.toml
  pytest.ini
  sample_network_tests/traffic_generator/configurations/traffic_profile.ixncfg
  sample_network_tests/traffic_generator/tests/sample_traffic_generator_duts.yaml
  sample_network_tests/traffic_generator/tests/test_definition.yaml
  sample_network_tests/traffic_generator/tests/test_ixia.py
  vane/ixia_interface.py
  vane/tests_tools.py
Labels: enhancement, infrastructure

#528 Handling test suite name
  tests/unittests/conftest.py
  tests/unittests/test_report.py
  vane/report_client.py
Labels: bug, enhancement
