Repository aristanetworks/vane, pull requests merged in 2023-08, with the labels that each got.

#372 Created a flag for nrfu and created the nrfu_client template
  tests/unittests/test_vane_cli.py
  vane/nrfu_client.py
  vane/vane_cli.py
Labels: enhancement, PS NRFU, Sprint 2.6

#392 Added interactive prompts for NRFU testing
  vane/nrfu_client.py
Labels: PS NRFU, Not to be merged

#373 unit tests and files for test_step_client
  tests/unittests/fixtures/api/test_api.py
  tests/unittests/fixtures/expected_test_api.md
  tests/unittests/fixtures/expected_test_host.json
  tests/unittests/fixtures/expected_test_host.md
  tests/unittests/fixtures/expected_test_host_no_steps.md
  tests/unittests/fixtures/host/__init__.py
  tests/unittests/fixtures/host/test_definition.yaml
  tests/unittests/fixtures/host/test_host.py
  tests/unittests/test_tests_step_client.py
  vane/test_step_client.py
Labels: Sprint 2.7

#451 Setup vane/nrfu_tests folder with initial files
  nrfu_tests/conftest.py
  nrfu_tests/definitions_nrfu.yaml
  nrfu_tests/duts_nrfu.yaml
  nrfu_tests/master_def.yaml
  nrfu_tests/test_definition.yaml.j2
Labels: enhancement, PS NRFU, Sprint 2.7

#473 Final changes to nrfu_client
  device_list.txt
  install_vane.sh
  nrfu_tests/conftest.py
  nrfu_tests/master_def.yaml
  nrfu_tests/test_definition.yaml
  nrfu_tests/test_memory.py
  sample_network_tests/nrfu/definitions_nrfu.yaml
  sample_network_tests/nrfu/duts_nrfu.yaml
  sample_network_tests/nrfu/master_def.yaml
  tests/unittests/test_vane_cli.py
  vane/nrfu_client.py
Labels: PS NRFU, Sprint 2.7

#410 Added installation script for Vane
  install_vane.sh
Labels: enhancement, PS NRFU, Sprint 2.7
