Repository aristanetworks/vane, pull requests merged in 2024-03, with the labels that each got.

#656 Update Vane-CVP build for 2023.2+ versions
  .github/workflows/cvp-extension-builder.yml
  conf/cvpi/conf/components/vane-cvp.multinode.yaml
  conf/cvpi/conf/components/vane-cvp.singlenode.yaml
  resources/vane-cvp-install.sh
  resources/vane-cvp-uninstall.sh
Labels: bug

#664 skip test_routing_evpn_l2vni_imet if evpn not configured
  nrfu_tests/test_routing_evpn_l2vni_imet.py
Labels: PS NRFU

#609 Documentation
  .github/.markdownlint.yaml
  .github/workflows/build-site.yml
  .github/workflows/documentation-testing.yml
  .pre-commit-config.yaml
  docs/GettingStartedwithVane.pdf
  docs/InstallationScriptforVane.pdf
  docs/api_cli/api.md
  docs/api_cli/cli.md
  docs/differentiation/differentiation.md
  docs/executing_vane/executing_vane.md
  docs/favicon/favicon.ico
  docs/gui/user_interface.md
  docs/images/activate_vane.png
  docs/images/cvp_rpm.png
  docs/images/html_report_details_hidden.png
  docs/images/html_report_details_shown_one.png
  docs/images/html_report_details_shown_two.png
  docs/images/report_one.png
  docs/images/report_two.png
  docs/images/sample_network_tests.png
  docs/images/test_catalog_csv.png
  docs/images/vane-cvp-prompt.png
  docs/images/vane_cli.png
  docs/images/vane_report.png
  docs/images/vane_run.png
  docs/index.md
  docs/installation/docker_installation.md
  docs/installation/installation_home.md
  docs/installation/poetry_installation.md
  docs/installation/python_installation.md
  docs/nrfu_setup/nrfu_setup.md
  docs/requirements.txt
  docs/stylesheets/extra.material.css
  docs/test_case_style_guide/sample_network_tests.md
  docs/test_case_style_guide/test_case_setup.md
  mkdocs.yaml
  overrides/.icons/bootstrap/vane-white-logo.svg
  pyproject.toml
  vane/tests_tools.py
Labels: documentation

#685 Adding logic for graceful failure handling when no duts are available
  vane/tests_tools.py
Labels: bug, PS NRFU

#686 Update Vane-CVP uninstall script for docker vs nerdctl command
  resources/vane-cvp-uninstall.sh
Labels: bug

#676 Add encoding to show logging
  nrfu_tests/test_bad_syslog_events.py
Labels: PS NRFU

#675 662 nrfu23 change link status changes tolerance
  nrfu_tests/test_interface_errors_and_discards.py
Labels: PS NRFU

#582 Updating skip functionality and fixing type error in NRFU4.3 test_routing_evpn_l2vni_imet testcase
  nrfu_tests/test_routing_evpn_l2vni_imet.py
Labels: PS NRFU

#703 Issue_707 NRFU6.11: Updated skip enhancement for nrfu_tests/test_system_hardware_temperature.py
  nrfu_tests/test_system_hardware_temperature.py
Labels: enhancement, PS NRFU

#699 Issue_714: NRFU2.6 Update skip enhancement: nrfu_tests/test_interfaces_port_channels
  nrfu_tests/test_interfaces_port_channels.py
Labels: enhancement, PS NRFU

#698 Issue_715: NRFU4.1 Update skip enhancement for test_routing_bgp_evpn_peers_state
  nrfu_tests/test_routing_bgp_evpn_peers_state.py
Labels: enhancement, PS NRFU

#696 issue_708: Updated skip enhancement(NRFU6.9) for nrfu_tests/test_system_hardware_power_supply_status.py
  nrfu_tests/test_system_hardware_power_supply_status.py
Labels: enhancement, PS NRFU

#694 Issue_706: Updated skip enhancement: nrfu_tests/test_base_services_tacacs.py(NRFU1.4)
  nrfu_tests/test_base_services_tacacs.py
Labels: enhancement, PS NRFU

#693 Issue-713:Skip enhancement: nrfu_tests/test_bgp_peers_state.py(NRFU4.2)
  nrfu_tests/test_bgp_peers_state.py
  nrfu_tests/test_definition.yaml.j2
Labels: enhancement, PS NRFU

#691 Issue-709:NRFU6.2:Update skip enhancement: nrfu_tests/test_system_hardware_cooling_status
  nrfu_tests/test_system_hardware_cooling_status.py
Labels: enhancement, PS NRFU

#690 issue_712: Updated skip enhancement(NRFU1.1) for nrfu_tests/test_dns_base_services.py
  nrfu_tests/test_dns_base_services.py
Labels: enhancement, PS NRFU

#681 issue_717: NRFU6.10: Update skip enhancement nrfu_tests/test_hardware_power_supply_voltage_status.py
  nrfu_tests/test_hardware_power_supply_voltage_status.py
Labels: enhancement, PS NRFU

#687 issue_711:Updated skip enhancement(NRFU6.1) for nrfu_tests/test_bad_syslog_events.py
  nrfu_tests/test_bad_syslog_events.py
Labels: enhancement, PS NRFU

#674 Issue_716 : NRFU2.4 : Update skip enhancement: nrfu_tests/test_interfaces_mlag_status_check.py
  nrfu_tests/test_interfaces_mlag_status_check.py
Labels: enhancement, PS NRFU
